body{
  background: url(plantation.jpg) no-repeat center center fixed;
  background-size: cover;
}




.hero{
  color: #bfbfbf;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-top: 20%;
  text-align: center;
  font-size: 50px;
  line-height: 1.23em;
  font-family: 'Spicy Rice', cursive;
}


.ima{
  margin-top: 5%;
  height: 100px;
  width: 200px;
}
